.follower_item {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.follower_item__avatar {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #eee;
}

.follower_item__avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.follower_item__url {
  padding-left: 20px;
  text-align: left;
}

.follower_item__url h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}
