.user_page {
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_page .user_page__info {
  display: flex;
  flex-direction: row;
}

.user_info__avatar {
  width: 300px;
  height: 300px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #eee;
}

.user_info__avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.user_info__login {
  padding-left: 20px;
  text-align: left;
}
